# Python virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc

# IDE/editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

token.pickle
token.pickle.old
credentials.json

#Personal notes
notes.txt

# Build files
build/

# Distribution files
dist/

# Resources
# Ignore ffmpeg binaries
drivebox/resources/ffmpeg/

# Packaging metadata
*.egg-info/
*.egg
*.whl
.coverage

#Tox 
.tox/