# Python virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc

# IDE/editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

token.pickle
credentials.json

#Personal notes
notes.txt

# Build files
build/